<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div><h2><a href="{{url_for('home')}}">Home</a>&nbsp;<a href="{{url_for('signIn')}}">Sign In</a>&nbsp;<a href="{{url_for('signUp')}}">Sign Up</a></h2></div>
    <br>
    <div><p style="font-size: large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">This is an about page</p></div>
</body>
</html>